ENV=PRODUCTION
APP_ID=com.mealing.knewnnew
APP_NAME=knewnew
AOS_BUILD_VERSION=10011
AOS_APP_VERSION=1.0.11
IOS_BUILD_VERSION=10011
IOS_APP_VERSION=1.0.11
BACKEND_URL=https:/$()/api.knewnnew.com/
NAVER_KEY=JLWtHkL9GxIG1Q5DzcG6
NAVER_SECRET=QwW2FgXaT0
CENTRY_DSN=https:/$()/16e08b19073a4ce28fbf16241c48aed4@o1302410.ingest.sentry.io/6539779
